*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-nav{
    display: flex;
    width: 100%;
    height: 174px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.content-nav--logo{
    width: 108px;
    height: 25px;
}
.content-nav--list{
    display: flex;
}

.content-nav--list > li{
    margin-right: 28px;
    list-style: none;
}
.content-nav--menu{
    display: none;
}

.button__purple{
    background-color: #8B48BF;
    color: #ffff;
}
.button{
    width: 134px;
    height: 44px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
}

.buttonsmall {
    width: 73px;
    padding: 10px 25px;
}

.input {
    width: 200px;
    height: 44px;
    border-radius: 50px;
    border: none;
}

/**/
.content-promotion{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.content-information{
    width:45%;
    text-align: end;

}

.tae-info {
    width: 100%;
    padding: 40px 0px 40px 0px;
    gap: 24px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tae-articles {
    width: 480px;
    display: flex;
    align-items: flex-start;
}

.tae-title {
    height: 44px;
    color: #323851;
    font-weight: 700;
    padding: 15px 15px 15px;
}

.tae-text {
    color: #b3b2b7;
    padding: 15px 15px 15px;
}

footer {
    height: 250px;
    color: #fff;
    background-color: #1e1e26;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
}
.input {
    gap: 10px;
    padding: 10px;
}
.input:valid {
    background-color: rgb(147, 240, 147);
}
.input:focus:invalid {
    background-color: rgb(240, 117, 117);
}

.ftrlogo .ftrsocial {
    flex-direction: column;
}
.ftrrights {
    font-weight: 500;
    font-size: 0.75rem;
    order: 5;
}
.ftrnav {
    gap: 50px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.ftrlogoysocial {
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    width: 100%;
    display: flex;
}

.padel-intro > img{
    width: 25rem;
}

.content-information > h1{
    font-size: 3.13rem;
}

.content-information > p{
    font-weight: 500;
    margin: 18px 0 28px 0;
    line-height: 26.01px;
}

/**/
.content-info-pros{
    background-color: #8B48BF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 23.7vh;
}
.content-info--title{
    width: 35%;
}

.content-info--title > h2{
    font-size: 2.25rem;
    color: white;
}

.content-info--description{
    width: 35%;
    margin-left: 3%;

}
.content-info--description> p{
    color: white;
    line-height: 24.18px;
}

/**/
.content-info {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 75px;
    flex-wrap: wrap;
}
.content-info  article{
    width: 25%;
}
.content-info-month {
    text-align: center;
}
.content-info-month > h2{
    font-weight: 700;
    font-size: 2.45rem;
}

.content-info--avatar{
margin-bottom: 20px;
}

.content-info > article > p{
    margin-top: 21px;
    color:  #B9B9C1;
    font-weight: 500;
}

.ultimo {
    justify-content: space-around;
}

@media screen and (max-width: 800px) {
    .content-nav{
        width: 80%;
        justify-content: space-between;
        margin: auto;
    }
    .content-nav--list{
    display: none;
    }
    .content-nav--menu{
        display: block;
    }
    .button-nav{
        display: none;
    }
    /**/
    .content-promotion{
        justify-content: center;
        flex-direction: column;
    }
    .padel-intro > img{
        width: 20rem;
    }
    .content-information {
        width: 100%;
    }
    .padel-intro{
    margin: auto;
    }
    /**/
    .content-info-pros{
        flex-direction: column;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 4%;
        background-color: #3CDDF3;
    }
    .content-info--title, .content-info--description{
        width: 100%;
    }
    .content-info article:nth-child(1) {
        width: 100%;
    }
    .content-info article:nth-child(1n+2) {
    display: none;
    }
    .tae-title {
        background-color: rgba(139, 72, 191, 0.3);
    }
    .tae-articles {
        width: 90%;
    }
    .tae-info {
        justify-content: flex-end;
    }
    .preftrtitle{
        padding: 40px 50px;
    }
    .preftr.button {
        background-color: #232c50;
        color: #fff;
        padding: 10px;
    }
    footer {
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
    }
    footer p {
        margin: 12px;
    }
    .ftrnav {
        gap: 150px;
        display: flex;
        align-items: flex-start;
        padding: 10px;
    }
    .ftrcontact {
        width: 100%;
        padding: 10px;
    }
    .ftrform {
        width: 100%;
        display: flex;
        padding: 10px;
        gap: 10px;
    }
    .ftrlogo {
        padding: 10px;
    }
    .ftrrights {
        color: #8c8c94;
        padding: 10px;
        order: 0;
        align-self: auto;
    }
    .ftrlogoysocial {
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .ftrsocial {
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }
    .input {
        width: 100%;
        gap: 10px;
        padding: 10px;
    }
}